@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Lato:ital,wght@0,100;1,100&family=Pixelify+Sans&family=Roboto+Slab:wght@200;900&family=Roboto:ital,wght@0,300;1,100;1,300;1,900&family=Rubik+Doodle+Shadow&display=swap');
@font-face {
    font-family: 'Roboto-medium';
    src: url('fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto-light';
    src: url('fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('fonts/Roboto-Thin.ttf');
}

:root {
    --primary-color: rgb(36, 36, 43);
    --secondary-color: rgb(69, 68, 68);
    --text-color: #333;
  }

body {
    
    height: 100%;
    margin:0;
    padding:0;
    font-family: 'Roboto-Thin';
    background-color: var(--primary-color);
    color: white;

}
nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 5px 30px 5px 20px;
    color: white;
    width: auto;
    font-family: 'Pixelify Sans';
}
#nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}
#nav-left h1 {
    color: black;
}
#nav-right {
    display: flex;
    justify-content: flex-end;
}


ul {
    margin:0;
    padding:20px;
    display: flex;
    align-items: baseline;
}

li {
   display: inline;
   text-decoration: none;
   margin: 10px;
}

a {
    text-decoration: none;
    color: white;
}
h1 {
    font-family: 'Pixelify Sans', sans-serif;
    padding: 0;
    margin: 10px 20px 10px 10px;
}

h2 {
    font-family: 'Pixelify Sans', sans-serif;
    
}

button {
    background-color: var(--secondary-color);
    font-family: 'Pixelify Sans';
    color: white;
    border: 1px solid grey;
    padding: 6px 12px;
    margin: 5px;
}

.card-bottom {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, 0.429);
    color: white;
    text-decoration: none;
    font-style: normal;
}
.hero-card {
    display: flex;
    align-items: flex-end;
    width: 200px;
    height: 200px;
    background-color: var(--secondary-color);
    border: 2px solid grey;
    margin: 20px;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hero-card:hover {
transform: scale(1.1); /* Makes the card grow in size */
transition: transform 0.2s ease-in-out; /* Smooth transition */
}

.player-name {
    font-family: 'Pixelify Sans', sans-serif;
    
}



#canvas {
    margin-top: 30px;
    height: 50vh;
    width: 50vh;
    background-color: black;
    

}

footer {
    color: black;
    background-color:var(--secondary-color);
    position: absolute;
    bottom: 0px;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
